In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('./data/topmart_shop_info_loc.csv', index_col=0, encoding='utf-8')
data.head()

   store                        address   Latitude   Longitude           phone
0  영도봉래점                 부산 영도구 태종로 194  35.094210  129.049444  051)418-2102~3
1    진영점             경남 김해시 진영읍 진영로 221  35.302670  128.736928  055)345-0388~9
2    금사점        부산 금정구 공단서로 22 (강산병원 옆)  35.216975  129.110783    051)527-2222
3    통영점  경남 통영시 미수해안로 164-13 (봉평오거리 옆)  34.832157  128.413960  055)648-8161~3
4    진주점                 경남 진주시 도동로 251  35.192582  128.121298  055)762-2571~5

In [3]:
data.insert(0, 'store_name', '탑마트')

In [4]:
data.head()

,store_name,store,address,Latitude,Longitude,phone
0,탑마트,영도봉래점,부산 영도구 태종로 194,35.094210,129.049444,051)418-2102~3
1,탑마트,진영점,경남 김해시 진영읍 진영로 221,35.302670,128.736928,055)345-0388~9
2,탑마트,금사점,부산 금정구 공단서로 22 (강산병원 옆),35.216975,129.110783,051)527-2222
3,탑마트,통영점,경남 통영시 미수해안로 164-13 (봉평오거리 옆),34.832157,128.413960,055)648-8161~3
4,탑마트,진주점,경남 진주시 도동로 251,35.192582,128.121298,055)762-2571~5

In [7]:
data['name'] = data.apply(lambda r: r['store_name'] + ' ' + r['store'], axis='columns')
data.head()

,store_name,store,address,Latitude,Longitude,phone,name
0,탑마트,영도봉래점,부산 영도구 태종로 194,35.094210,129.049444,051)418-2102~3,탑마트 영도봉래점
1,탑마트,진영점,경남 김해시 진영읍 진영로 221,35.302670,128.736928,055)345-0388~9,탑마트 진영점
2,탑마트,금사점,부산 금정구 공단서로 22 (강산병원 옆),35.216975,129.110783,051)527-2222,탑마트 금사점
3,탑마트,통영점,경남 통영시 미수해안로 164-13 (봉평오거리 옆),34.832157,128.413960,055)648-8161~3,탑마트 통영점
4,탑마트,진주점,경남 진주시 도동로 251,35.192582,128.121298,055)762-2571~5,탑마트 진주점

In [10]:
data = data.drop('store_name', axis=1)

In [11]:
data = data.drop('store', axis=1)

In [12]:
data.head()

,address,Latitude,Longitude,phone,name
0,부산 영도구 태종로 194,35.094210,129.049444,051)418-2102~3,탑마트 영도봉래점
1,경남 김해시 진영읍 진영로 221,35.302670,128.736928,055)345-0388~9,탑마트 진영점
2,부산 금정구 공단서로 22 (강산병원 옆),35.216975,129.110783,051)527-2222,탑마트 금사점
3,경남 통영시 미수해안로 164-13 (봉평오거리 옆),34.832157,128.413960,055)648-8161~3,탑마트 통영점
4,경남 진주시 도동로 251,35.192582,128.121298,055)762-2571~5,탑마트 진주점

In [15]:
data = data.rename(columns={'name':'store'})

In [16]:
data = data.rename(columns={'phone':'tel'})

In [17]:
data.head()

,address,Latitude,Longitude,tel,store
0,부산 영도구 태종로 194,35.094210,129.049444,051)418-2102~3,탑마트 영도봉래점
1,경남 김해시 진영읍 진영로 221,35.302670,128.736928,055)345-0388~9,탑마트 진영점
2,부산 금정구 공단서로 22 (강산병원 옆),35.216975,129.110783,051)527-2222,탑마트 금사점
3,경남 통영시 미수해안로 164-13 (봉평오거리 옆),34.832157,128.413960,055)648-8161~3,탑마트 통영점
4,경남 진주시 도동로 251,35.192582,128.121298,055)762-2571~5,탑마트 진주점

In [18]:
data = data[['store', 'address', 'Latitude', 'Longitude', 'tel']]

In [19]:
data.head()

,store,address,Latitude,Longitude,tel
0,탑마트 영도봉래점,부산 영도구 태종로 194,35.094210,129.049444,051)418-2102~3
1,탑마트 진영점,경남 김해시 진영읍 진영로 221,35.302670,128.736928,055)345-0388~9
2,탑마트 금사점,부산 금정구 공단서로 22 (강산병원 옆),35.216975,129.110783,051)527-2222
3,탑마트 통영점,경남 통영시 미수해안로 164-13 (봉평오거리 옆),34.832157,128.413960,055)648-8161~3
4,탑마트 진주점,경남 진주시 도동로 251,35.192582,128.121298,055)762-2571~5

In [20]:
data.to_csv('topmart_shop_info_loc.csv', index=True)